Sony/long
Sony/short
Sony/short_rgb
Sony/long_rgb
Sony/short_packed_cache

scripts/__pycache__
*.pyc

runs/

overnight_watchdog.sh
stop_at_90.sh

collaborator_results/

job.test.out
job.test.err

batch_run.sh

results
results_dists
