Sony/long
Sony/short
Sony/short_rgb
Sony/long_rgb
Sony/short_packed_cache

scripts/__pycache__
*.pyc

runs/default/models
runs/default/tb_logs
runs/default/latest.pt

job.test.out
job.test.err

batch_run.sh

results